@page
@model LoginModel

<div class="container col-8">
    <div class="modal-content rounded-4 shadow">
        <div class="modal-body p-5 pt-0">

            <div class="py-5 pb-4">
                <p class="fw-bold mb-0 fs-3">Sign in with</p>
            </div>

            <div class="col-md-6 col-md-offset-2">
                <section>
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                        article
                                        about setting up this ASP.NET application to support logging in via external services
                                    </a>.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins!)
                                        {
                                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </section>
            </div>

            <div class="divider d-flex align-items-center my-4">
                <p class="text-center fw-bold mx-3 mb-0">Or</p>
            </div>

            <form id="account" method="post" class="needs-validation" novalidate>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" required />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                    <div class="valid-feedback">
                        Valid!
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" required />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <div class="valid-feedback">
                        Valid!
                    </div>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>                  
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">SIGN IN</button>
                </div>
                <div class="p-0 pt-4">
                    <p class="small  mt-2 pt-1 mb-0">
                        Don't have an account?
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="link-primary">Register</a>
                    </p>
                </div>
            </form>

        </div>
    </div>


    <div class="py-5">
        <div class="card">
            <div class="card-body">
                <p>
                    Note that for demo purposes you don't need to register and can login with these credentials:
                </p>
                <p>
                    Admin: <b>admin@demo.com</b><br />
                    Employee: <b>employee@demo.com</b><br />
                    Customer: <b>customer@demo.com</b><br />
                </p>
                <p>
                    Password: <b>12qwaszx!Q</b>
                </p>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
