@page 
@model CatalogModel

<form method="get" asp-area="Shop" asp-page="Catalog" />

<div class="container-fluid">
    <br>   
    <div class="hstack gap-3">
        <div class="mb-0">
            <br>
            <p class="bi bi-sliders text-muted" style="font-size: 1.2rem;">
                Filter
            </p>
        </div> 
        <div class="ms-auto mb-0">
            <br>
            <p class="text-muted">
                Total found: @Model.CatalogIndex.PagedList.TotalItems
            </p>
        </div>
       
        <div class="mb-0">
            <partial name="~/Views/Shared/Components/_PageSize.cshtml" model="@Model.CatalogIndex.PagedList">
        </div>
        
    </div>

    <hr class="featurette-divider">

    <div class="row">        
            <div class="col-2">           
                <div class="mb-3">
                    <label>Range Price</label>
                    <div class="input-group">
                        <input asp-for="CatalogIndex.MinPrice" value="@Model.CatalogIndex.MinPrice" class="form-control shadow-none" />
                        <span class="input-group-text"><i class="bi bi-cash-coin"></i></span>
                        <input asp-for="CatalogIndex.MaxPrice" value="@Model.CatalogIndex.MaxPrice" class="form-control shadow-none" />
                    </div>
                </div>
                <div class="mb-3">
                    <label asp-for="CatalogIndex.Brands"></label>
                    <select asp-for="CatalogIndex.BrandId" asp-items="@Model.CatalogIndex.Brands" class="form-select shadow-none"></select>
                </div>
                <div class="mb-3">
                    <label asp-for="CatalogIndex.Genders"></label>
                    <select asp-for="CatalogIndex.GenderId" asp-items="@Model.CatalogIndex.Genders" class="form-select shadow-none"></select>
                </div>
                <div class="mb-3">
                    <label asp-for="CatalogIndex.AromaTypes"></label>
                    <select asp-for="CatalogIndex.AromaTypeId" asp-items="@Model.CatalogIndex.AromaTypes" class="form-select shadow-none"></select>
                </div>
                <div class="mb-3">
                    <label asp-for="CatalogIndex.ReleaseForms"></label>
                    <select asp-for="CatalogIndex.ReleaseFormId" asp-items="@Model.CatalogIndex.ReleaseForms" class="form-select shadow-none"></select>
                </div>
                <div class="checkbox mb-3 text-start">
                    <label asp-for="CatalogIndex.OnlyDiscount" class="form-label">
                        <input class="form-check-input" asp-for="CatalogIndex.OnlyDiscount" />
                        @Html.DisplayNameFor(m => m.CatalogIndex.OnlyDiscount)
                    </label>
                </div>
                <hr class="featurette-divider">
            
                <div class="d-grid gap-2">
                    <button type="submit" class="w-100 btn btn-success btn-sm shadow-none">
                        <i class="bi bi-check-lg"></i>
                        Apply Filter
                    </button>
                    <a asp-area="Shop" asp-page="/Catalog" asp-route-ItemsPerPage="@Model.CatalogIndex.PagedList.ItemsPerPage" class="w-100 btn btn-primary btn-sm shadow-none">
                        <i class="bi bi-arrow-counterclockwise"></i>
                        Reset Filter
                    </a>
                </div>  
            </div>

        <div class="col-1"></div>
        <div class="col-9">
            <partial name="~/Views/Shared/Components/_ProductCards.cshtml" model="@Model.CatalogIndex.PagedList.Items">
        </div>

        <div class="py-4">
            <div class="col-12 text-end ">
                @if (Model.CatalogIndex.PagedList.TotalPages == 0)
                {
                    <p class="p-2"></p>
                }
                else
                {
                    <p class="text-muted">Page @(Model.CatalogIndex.PagedList.PageIndex + 1) - @Model.CatalogIndex.PagedList.TotalPages</p>
                }
            </div>
            <hr class="featurette-divider">

            <partial name="~/Views/Shared/Components/_Pagination.cshtml" model="@Model.CatalogIndex.PagedList">
        </div>
    </div>
</div>