@page
@model PerfumeShop.Web.Areas.Shop.Pages.CheckoutModel
@{
}

<div class="container h-100 py-5">
    <div class="row g-5">

        <div class="col-md-5 col-lg-4 order-md-last">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">Your cart</span>
            </h4>
            <ul class="list-group mb-3">

                @foreach(var item in Model.BasketModel.Items)
                {
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">@item.Brand</h6>
                            <small class="text-muted">@item.Name</small>
                        </div>
                        <span class="text-muted">@item.UnitPrice.ToString("c") x @item.Quantity</span>
                    </li>                   
                }
              
                <li class="list-group-item d-flex justify-content-between bg-light">
                    <div class="text-success">
                        <h6 class="my-0">Promo code</h6>
                        <small>EXAMPLECODE</small>
                    </div>
                    <span class="text-success">−$5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (USD)</span>
                    <strong>@Model.BasketModel.FinalPrice.ToString("c")</strong>
                </li>
            </ul>
        </div>

        <div class="col-md-7 col-lg-8">

            <h4 class="mb-3">Billing address</h4>

            <form method="post" class="needs-validation" novalidate="">
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="firstName" class="form-label">First name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                    </div>

                    <div class="col-sm-6">
                        <label for="lastName" class="form-label">Last name</label>
                        <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                    </div>

                    <div class="col-12">
                        <label for="email" class="form-label">Email <span class="text-muted">(Optional)</span></label>
                        <input type="email" class="form-control" placeholder="you@example.com">
                    </div>

                    <div class="col-6">
                        <label for="address" class="form-label">State</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="col-6">
                        <label for="address" class="form-label">City</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="col-12">
                        <label for="address" class="form-label">Street Address</label>
                        <input type="text" class="form-control" placeholder="666 Main St">
                    </div>

                    <div class="col-6">
                        <label for="address" class="form-label">Phone Number</label>
                        <input type="text" class="form-control" placeholder="1-541-754-3010">
                    </div>

                    <div class="col-6">
                        <label for="address" class="form-label">Postal Code</label>
                        <input type="text" class="form-control">
                    </div>
                </div>

                <hr class="my-5">

                <h4 class="mb-3">Payment</h4>

                <div class="row gy-3">
                    <div class="col-md-6">
                        <label for="cc-name" class="form-label">Name on card</label>
                        <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                        <small class="text-muted">Full name as displayed on card</small>
                        <div class="invalid-feedback">
                            Name on card is required
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="cc-number" class="form-label">Credit card number</label>
                        <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                        <div class="invalid-feedback">
                            Credit card number is required
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label for="cc-expiration" class="form-label">Expiration</label>
                        <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                        <div class="invalid-feedback">
                            Expiration date required
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label for="cc-cvv" class="form-label">CVV</label>
                        <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                        <div class="invalid-feedback">
                            Security code required
                        </div>
                    </div>
                </div>

                <hr class="my-4">
                <div class="col-4">
                    <button class="w-100 btn btn-primary btn-lg" type="submit">Сheckout</button>
                </div>
            </form>
        </div>
    </div>
</div>

