@page
@model PerfumeShop.Web.Areas.Shop.Pages.CheckoutModel
@{
}

<div class="container h-100 py-5">
    <div class="row g-5">

        <div class="col-md-5 col-lg-4 order-md-last">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">Your Basket</span>
            </h4>
            <ul class="list-group mb-3">
               
                @foreach(var item in Model.BasketModel.Items)
                {                   
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">@item.Brand</h6>
                            <small class="text-muted">@item.Name</small>
                        </div>
                        <span class="text-muted">@item.UnitPrice.ToString("c") x @item.Quantity</span>
                    </li>                   
                }
              
                <li class="list-group-item d-flex justify-content-between bg-light">
                    <div class="text-success">
                        <h6 class="my-0">Promo code</h6>
                        <small>EXAMPLECODE</small>
                    </div>
                    <span class="text-success">−$5</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (USD)</span>
                    <strong>@Model.BasketModel.FinalPrice.ToString("c")</strong>
                </li>
            </ul>
        </div>

        <div class="col-md-7 col-lg-8">

            <h4 class="mb-3">Billing address</h4>

            <form asp-page="Checkout" asp-route-basketId="@Model.BasketModel.Id" method="post" class="needs-validation" novalidate>

                <input asp-for="@Model.BuyerModel.Id" hidden/>

                <div class="row g-3">
                    <div class="col-12">
                        <label asp-for="@Model.BuyerModel.Email"></label>
                        <input asp-for="@Model.BuyerModel.Email" class="form-control" required />
                        <span asp-validation-for="@Model.BuyerModel.Email" class="text-danger"></span>
                        <div class="valid-feedback">
                            Valid
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label asp-for="@Model.BuyerModel.FirstName"></label>
                        <input asp-for="@Model.BuyerModel.FirstName" class="form-control" required />
                        <span asp-validation-for="@Model.BuyerModel.FirstName" class="text-danger"></span>
                        <div class="valid-feedback">
                            Valid
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label asp-for="@Model.BuyerModel.LastName"></label>
                        <input asp-for="@Model.BuyerModel.LastName" class="form-control" required />
                        <span asp-validation-for="@Model.BuyerModel.LastName" class="text-danger"></span>
                        <div class="valid-feedback">
                            Valid
                        </div>
                    </div>

                    <div class="col-12">
                        <label asp-for="@Model.BuyerModel.PhoneNumber"></label>
                        <input asp-for="@Model.BuyerModel.PhoneNumber" class="form-control" type="tel" placeholder="ex: 1-541-754-3010" required />
                        <span asp-validation-for="@Model.BuyerModel.PhoneNumber" class="text-danger"></span>
                        <div class="valid-feedback">
                            Valid
                        </div>
                    </div>

                    <div class="col-6">
                        <label asp-for="@Model.AddressModel.State"></label>
                        <input asp-for="@Model.AddressModel.State" class="form-control" required />
                        <span asp-validation-for="@Model.AddressModel.State" class="text-danger"></span>
                        <div class="valid-feedback">
                            Valid
                        </div>
                    </div>

                    <div class="col-6">
                        <label asp-for="@Model.AddressModel.City"></label>
                        <input asp-for="@Model.AddressModel.City" class="form-control" required />
                        <span asp-validation-for="@Model.AddressModel.City" class="text-danger"></span>
                        <div class="valid-feedback">
                            Valid
                        </div>
                    </div>

                    <div class="col-10">
                        <label asp-for="@Model.AddressModel.StreetAddress"></label>
                        <input asp-for="@Model.AddressModel.StreetAddress" class="form-control" placeholder="ex: 123 Main Street, Apartment 666" required />
                        <span asp-validation-for="@Model.AddressModel.StreetAddress" class="text-danger"></span>
                        <div class="valid-feedback">
                            Valid
                        </div>
                    </div>
                   
                    <div class="col-2">
                        <label asp-for="@Model.AddressModel.PostalCode"></label>
                        <input asp-for="@Model.AddressModel.PostalCode" class="form-control" placeholder="ex: 220050" required />
                        <span asp-validation-for="@Model.AddressModel.PostalCode" class="text-danger"></span>
                        <div class="valid-feedback">
                            Valid
                        </div>
                    </div>
                </div>

                <hr class="my-5">

                <partial name="~/Views/Shared/Components/_PaymentCard.cshtml" model="Model.PaymentCardModel">
                                             
                <br class="my-5" />

                <div class="col-4">
                    <button class="w-100 btn btn-primary btn-lg" type="submit">Сheckout</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}