@model ManageProductViewModel

<form method="post" asp-controller="ManageProduct" asp-action="Edit" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>

	<input asp-for="Product!.Id" hidden />
	<input asp-for="Product!.PictureUri" hidden />

	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h2 class="text-muted">Edit Product</h2>
		<div class="btn-toolbar mb-2 mb-md-0">
			<div class="text-end">

				<button type="submit" class="btn btn-outline-secondary btn-sm shadow-none" style="width:80px">
					<span class="bi bi-check-lg">Save</span>
				</button>

				<a asp-controller="ManageProduct" asp-action="Details" asp-route-id="@Model.Product!.Id" class="btn btn-outline-secondary btn-sm shadow-none" style="width:80px">
					<span class="bi bi-reply"> Back</span>
				</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="mb-3">
			<label asp-for="Product!.Name"></label>
			<input asp-for="Product!.Name" class="form-control" required>
			<span asp-validation-for="Product!.Name" class="text-danger"></span>
			<div class="valid-feedback">
				Valid
			</div>
		</div>
		<div class="mb-3">
			<label asp-for="Product!.Description"></label>
			<textarea asp-for="Product!.Description" id="tinytextarea" rows="3" class="form-control"
					  required placeholder="Text area must be required"></textarea>
			<span asp-validation-for="Product!.Description" class="text-danger"></span>
		</div>
		<div class="mb-3 col-3">
			<label asp-for="Product!.Price"></label>
			<div class="input-group">
				<span class="input-group-text">$</span>
				<input asp-for="Product!.Price" type="number"
					class="form-control" placeholder="0.00" step="0.01" min="1" max="999999" required>
				<span asp-validation-for="Product!.Price" class="text-danger"></span>
				<div class="valid-feedback">
					Valid
				</div>
			</div>
		</div>
		<div class="mb-3 col-3">
			<label asp-for="Product.DiscountPrice"></label>
			<div class="input-group">
				<span class="input-group-text">$</span>
				<input asp-for="Product.DiscountPrice" type="number"
					   class="form-control" placeholder="0.00" step="0.01" min="0" max="999999" required>
				<span asp-validation-for="Product.DiscountPrice" class="text-danger"></span>
				<div class="valid-feedback">
					Valid
				</div>
			</div>
		</div>
		<div class="mb-3 col-3">
			<label asp-for="Product!.Stock"></label>
			<div class="input-group">
				<span class="input-group-text">qty.</span>
				<input asp-for="Product!.Stock" placeholder="1" class="form-control" min="1" max="@int.MaxValue" required>
			</div>
			<span asp-validation-for="Product!.Stock" class="text-danger"></span>
			<div class="valid-feedback">
				Valid
			</div>
		</div>
		<div class="mb-3 col-3">
			<label asp-for="Product!.Volume"></label>
			<div class="input-group">
				<span class="input-group-text">ml.</span>
				<input asp-for="Product!.Volume" placeholder="1" class="form-control" min="1" max="@int.MaxValue" required>
			</div>
			<span asp-validation-for="Product!.Volume" class="text-danger"></span>
			<div class="valid-feedback">
				Valid
			</div>
		</div>
		<div class="mb-3 col-3">
			<label asp-for="Product!.Brand"></label>
			<select asp-for="Product!.BrandId" asp-items="@Model.Brands" class="form-select" required>
				<option selected disabled value="">--Select Brand--</option>
			</select>
			<span asp-validation-for="Product!.BrandId" class="text-danger"></span>
			<div class="valid-feedback">
				Valid
			</div>
		</div>
		<div class="mb-3 col-3">
			<label asp-for="Product!.Gender"></label>
			<select asp-for="Product!.GenderId" asp-items="@Model.Genders" class="form-select" required>
				<option selected disabled value="">--Select Gender--</option>
			</select>
			<span asp-validation-for="Product!.GenderId" class="text-danger"></span>
			<div class="valid-feedback">
				Valid
			</div>
		</div>
		<div class="mb-3 col-3">
			<label asp-for="Product!.AromaType"></label>
			<select asp-for="Product!.AromaTypeId" asp-items="@Model.AromaTypes" class="form-select" required>
				<option selected disabled value="">--Select Aroma Type--</option>
			</select>
			<span asp-validation-for="Product!.AromaTypeId" class="text-danger"></span>
			<div class="valid-feedback">
				Valid
			</div>
		</div>
		<div class="mb-3 col-3">
			<label asp-for="Product!.ReleaseForm"></label>
			<select asp-for="Product!.ReleaseFormId" asp-items="@Model.ReleaseForms" class="form-select" required>
				<option selected disabled value="">--Select Release Form--</option>
			</select>
			<span asp-validation-for="Product!.ReleaseFormId" class="text-danger"></span>
			<div class="valid-feedback">
				Valid
			</div>
		</div>
		<div class="mb-3 col-12">
			<div class="form-group row">
				<span>
					New <label asp-for="@Model.Product!.PictureUri"></label>
				</span>
				<div class="mb-3">
					<input type="file" name="files" id="uploadBox" class="form-control" />
				</div>
			</div>
			<div class="mb-3 col-3">
				<div class="mb-3">
					<span>Current Picture</span>
					<img src="@Constants.CATALOG_IMAGE_PATH@Model.Product!.PictureUri"
						 style="width:100%; border-radius:10px; border:2px solid #D6D6D8" />
				</div>
			</div>
		</div>
	</div>
</form>


@section Scripts{
	<partial name="_ValidationScriptsPartial" />
	<script src="~/js/textareaTinyMCE.js"></script>
}
